/* StartSession.css - Ajustements pour la hauteur des inputs */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 0;
  border-radius: 8px;
  color: #333;
  width: 100%; /* Prend toute la largeur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-group {
  width: 100%;
  margin-bottom: 2px;
}

.form-group label {
  display: block;
  margin-bottom: 1px;
  color: #555;
}

.form-group input,
.form-group select {
  padding: 2px 280px; /* Augmentation du padding vertical pour agrandir la hauteur */
  font-size: 16px;
  width: 100;
  height: 45px; /* Hauteur fixe pour un contrôle plus grand */
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.05);
}

.form-group button {
  padding: 15px 20px; /* Padding vertical augmenté pour les boutons */
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.form-group button:hover {
  background-color: #0056b3;
}
.communication-container {
  padding: 20px;
  background-color: #f4f4f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: Arial, sans-serif;
}

.communication-header {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 238px;
}

.button:hover {
  background-color: #004494;
}
.button-email {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 515px;
}

.button-email:hover {
  background-color: #004494;
}
.message-container {
  margin-top: 20px;
}

.email-text {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: monospace;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Taille de police normale */
  line-height: 1.5; /* Espacement des lignes */
}

.ana{
  padding: 10px;
  border-radius: 8px;
  border: 3px solid #ccc;
}

.annaaa{
  font-size: 20px; /* Taille de police normale */
  margin-left: 460px;
  color: #555;
  text-align: center;
}